In [1]:
### #A1y1_HousingLoans_TestData-Preparation-Cleaning to make a classification model on Challenge 2

## Goal: Create, clean, & prepare data for accepted in USA dataset (Supervised ML)

# Import Python pkgs pandas, numpy, matplotlib.pyplot, & seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import numpy.random as nr
import math

%matplotlib inline  
# Start of magic command which configures execution environment, to display graphics w/in notebook

In [2]:
# Load test feature dataset, display shape, & explore first 10 rows of Pandas data frame

LoanTestV = pd.read_csv('data/test_values.csv', header=0)
print(LoanTestV.shape)
LoanTestV.head(10)

(500000, 22)

,row_id,loan_type,property_type,loan_purpose,occupancy,loan_amount,preapproval,msa_md,state_code,county_code,...,applicant_sex,applicant_income,population,minority_population_pct,ffiecmedian_family_income,tract_to_msa_md_income_pct,number_of_owner-occupied_units,number_of_1_to_4_family_units,lender,co_applicant
0,0,2,1,3,1,115.0,3,101,16,276,...,1,NaN,6329.0,59.536,69889.0,85.780,1874.0,2410.0,3791,True
1,1,1,1,1,1,252.0,2,87,20,68,...,1,107.0,2473.0,8.050,65313.0,100.000,947.0,1214.0,2839,True
2,2,1,1,1,1,270.0,1,-1,-1,-1,...,2,119.0,NaN,NaN,NaN,NaN,NaN,NaN,4701,False
3,3,2,1,1,1,179.0,2,376,20,11,...,2,44.0,4795.0,29.676,57766.0,100.000,1426.0,1765.0,2153,True
4,4,2,1,1,1,36.0,2,254,48,156,...,3,32.0,5246.0,5.110,63332.0,100.000,1452.0,2092.0,5710,False
5,5,1,1,3,1,65.0,3,8,15,131,...,2,60.0,4502.0,9.626,61214.0,100.000,1487.0,1764.0,5513,True
6,6,1,1,1,1,402.0,2,-1,28,-1,...,1,120.0,NaN,NaN,NaN,NaN,NaN,NaN,3560,True
7,7,1,1,3,1,200.0,3,275,48,123,...,3,35.0,5256.0,23.770,97181.0,100.000,1685.0,1760.0,763,False
8,8,1,1,1,2,121.0,3,350,38,233,...,1,309.0,3231.0,21.712,85665.0,83.509,966.0,1282.0,5498,False
9,9,3,1,1,1,213.0,3,186,34,20,...,1,72.0,8866.0,39.604,101894.0,97.009,2221.0,2896.0,1574,False

In [3]:
#Above- We have a total of 22 columns and 500,000 rows in the test feature dataset.

#Below- Review data types for each column
LoanTestV.dtypes

row_id                              int64
loan_type                           int64
property_type                       int64
loan_purpose                        int64
occupancy                           int64
loan_amount                       float64
preapproval                         int64
msa_md                              int64
state_code                          int64
county_code                         int64
applicant_ethnicity                 int64
applicant_race                      int64
applicant_sex                       int64
applicant_income                  float64
population                        float64
minority_population_pct           float64
ffiecmedian_family_income         float64
tract_to_msa_md_income_pct        float64
number_of_owner-occupied_units    float64
number_of_1_to_4_family_units     float64
lender                              int64
co_applicant                         bool
dtype: object

In [ ]:
# Find missing values w/in dataset
 # Can be coded as character string, numeric value like -999 or missing value NaN, or a NULL value.
# Then determine how to treat missing values.
 # Remove rows w/ missing values
 # Remove features w/ missing values
 # Impute by replacing values w/ mean or median using simple algorithms, or more complex ones like SMOTE or expectation maximization (EM).
 # Use nearest neighbor, averaging, forward filling or backward filling.

# Shows which features are missing values

#(LoanTestV.astype(np.object) == '?').any()  # This will only work w/ strings
pd.isna(LoanTestV).any()

row_id                            False
loan_type                         False
property_type                     False
loan_purpose                      False
occupancy                         False
loan_amount                       False
preapproval                       False
msa_md                            False
state_code                        False
county_code                       False
applicant_ethnicity               False
applicant_race                    False
applicant_sex                     False
applicant_income                   True
population                         True
minority_population_pct            True
ffiecmedian_family_income          True
tract_to_msa_md_income_pct         True
number_of_owner-occupied_units     True
number_of_1_to_4_family_units      True
lender                            False
co_applicant                      False
dtype: bool

In [ ]:
#Above- Test feature dataset does seem to contain missing values in 7 columns.

#Below- Find out how many values are missing w/in each object/categorical feature.

for col in LoanTestV.columns:
    if LoanTestV[col].dtype == bool:
        count = 0
        count = [count + 1 for x in LoanTestV[col] if pd.isna(x)]
        print(col + ' ' + str(sum(count)))

co_applicant 0

In [ ]:
#Above- Test feature dataset does not seem to contain missing values in boolean columns.

#Below- Find out how many values are missing w/in each float64 feature.

for col in LoanTestV.columns:
    if LoanTestV[col].dtype == float :
        count = 0
        count = [count + 1 for x in LoanTestV[col] if pd.isna(x)]
        print(col + ' ' + str(sum(count)))

In [ ]:
#Above-  Test feature dataset does seem to contain missing values in 7 float columns.


#Below- Find out how many values are missing w/in each int64 feature.

for col in LoanTestV.columns:
    if LoanTestV[col].dtype == int :
        count = 0
        count = [count + 1 for x in LoanTestV[col] if pd.isna(x)]
        print(col + ' ' + str(sum(count)))

In [ ]:
#Above- Test feature dataset does not seem to contain missing values in integer columns.

#Below- Find out how many values are missing as '-1' w/in this integer column feature.

print(any(LoanTestV.msa_md == -1))
print(LoanTestV.msa_md[LoanTestV.msa_md == -1].count())

In [ ]:
#Above- Test feature column msa_md does seem to contain 76,982 missing values.

#Below- Find out how many values are missing as '-1' w/in this integer column feature.

print(any(LoanTestV.state_code == -1))
print(LoanTestV.state_code[LoanTestV.state_code == -1].count())

In [ ]:
#Above- Test feature column state_code does seem to contain 19,132 missing values.

#Below- Find out how many values are missing as '-1' w/in this integer column feature.

print(any(LoanTestV.county_code == -1))
print(LoanTestV.county_code[LoanTestV.county_code == -1].count())

In [ ]:
#Above- Test feature column county_code does seem to contain 20,566 missing values.

#Below- Examine feature test data row_id for duplicates by checking for unique IDs.

print(LoanTestV.shape)
print(LoanTestV.row_id.unique().shape)

In [ ]:
#Above- Test feature dataset does not seem to contain duplicate values.

# Compute & display summary statistics for numeric columns

LoanTestV.describe()

In [ ]:
#Below- Examine test data for county_code duplicates by checking for unique IDs.

print(LoanTestV.shape)
print(LoanTestV.county_code.unique().shape)

In [ ]:
# Below - Handle missing data
 # Set limit that features which are missing 20% or more of their data are removed.
    
for col in LoanTestV.columns:
    if LoanTestV[col].dtype == float :
        count = 0
        count = [count + 1 for x in LoanTestV[col] if pd.isna(x)]
        prct = ((sum(count))/500000)*100
        print(col + ' ' + str(prct))

In [ ]:
#Below- Find out how many values are missing as '-1' w/in this integer column feature.
 # Set limit that features which are missing 20% or more of their data are removed.
    
missing_msa_md = LoanTestV.msa_md[LoanTestV.msa_md == -1].count()
missing_state_code = LoanTestV.state_code[LoanTestV.state_code == -1].count()
missing_county_code = LoanTestV.county_code[LoanTestV.county_code == -1].count()

pctmiss_msa_ma = ((missing_msa_md)/500000)*100
pctmiss_state_code = ((missing_state_code)/500000)*100
pctmiss_county_code = ((missing_county_code)/500000)*100

print(pctmiss_msa_ma)
print(pctmiss_state_code)
print(pctmiss_county_code)

In [ ]:
#Above- None of the columns are above the 20% mark in the dataset.

#Below- Save this data to a csv (backup)

LoanTestV.to_csv('data/LoanTest_2019-09-12.csv', index = False, header = True)

In [ ]:
# Sorted the backup csv by smallest to largest for state_code then county_code. No data deleted.
# Load the grouped feature dataset, display shape, & explore first 10 rows of Pandas data frame.

LoanTestG = LoanTestV
print(LoanTestG.shape)
LoanTestG.head(10)

In [ ]:
#Below- RECHECK-Find out how many values are missing as '-1' w/in this integer column feature.

print(any(LoanTestG.msa_md == -1))
print(LoanTestG.msa_md[LoanTestG.msa_md == -1].count())

In [ ]:
#Above- Still have 76,993 missing data for msa_md.

#Below- RECHECK-Find out how many values are missing as '-1' w/in this integer column feature.

print(any(LoanTestG.state_code == -1))
print(LoanTestG.state_code[LoanTestG.state_code == -1].count())

In [ ]:
#Above- Still have 19,120 missing data for state_code.

#Below- RECHECK-Find out how many values are missing as '-1' w/in this integer column feature.

print(any(LoanTestG.county_code == -1))
print(LoanTestG.county_code[LoanTestG.county_code == -1].count())

In [ ]:
#Above- Still have 20,566 missing data for county_code.

#Below- Since the mean and medians were so different from each other, indicating skewness, we will replace missing values in rows
 # with medians instead of means. 
    
# Calculate median of each column in dataset.

median= LoanTestG.median()
print(median)

In [ ]:
#Below- RECHECK missing values for county_code & msa_md in dataset.

LoanTestG

In [ ]:
#Fill the remaining numerical missing values with median values for each column.

LoanTestG = LoanTestG.fillna(median)
LoanTestG.shape

In [ ]:
# RECHECK- Now double check and look for missing values again in dataset.

for col in LoanTestG.columns:
    if LoanTestG[col].dtype == float:
        count = 0
        count = [count + 1 for x in LoanTestG[col] if pd.isna(x)]
        print(col + ' ' + str(sum(count)))

In [ ]:
#Below- RECHECK - Find out how many values are missing as '-1' w/in this integer column feature.
    
missing_msa_md = LoanTestG.msa_md[LoanTestG.msa_md == -1].count()
missing_state_code = LoanTestG.state_code[LoanTestG.state_code == -1].count()
missing_county_code = LoanTestG.county_code[LoanTestG.county_code == -1].count()

pctmiss_msa_ma = ((missing_msa_md)/500000)*100
pctmiss_state_code = ((missing_state_code)/500000)*100
pctmiss_county_code = ((missing_county_code)/500000)*100

print(pctmiss_msa_ma)
print(pctmiss_state_code)
print(pctmiss_county_code)

In [ ]:
#Above - Will keep the missing interger values as '-1' within the test dataset.

#Below - Recalculate the summary statistcs for numeric values with missing values filled with median.

LoanTestG.describe()

In [ ]:
#Save this cleaned test data to a csv

LoanTestG.to_csv('progressData/LoanTest_Clean_2019-08-12y1.csv', index = False, header = True)